.comment-container {
    margin-block: 25px;
    padding-block: 16px;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.commenter-container {
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.commenter-image {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #d5ffd6;
}

.commenter {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
}

.comment-date {
    margin-left: 12px;
    font-size: 14px;
    color: #6B6B6B;
}

.comment-text {
    margin: 0;
    padding-block: 5px;
    color: black;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}